<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.scss">
</head>

<body>
    <div class="flex flex-col min-h-screen overflow-hidden">

        <%- include('partials/header'); %>
        <main class="flex-grow">

            <section class="bg-gradient-to-b from-gray-100 to-white">
                <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">

                        <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
                            <h1 class="h1">Home</h1>
                        </div>

                        <div class="max-w-sm mx-auto">
                                <div class="flex flex-wrap -mx-3 mb-4">
                                    <div class="w-full px-3">
                                        <label class="block text-gray-800 text-sm font-medium mb-1" for="acc">Select
                                            Account</label>
                                        <select name="acc" id="acc">
                                            <% art.forEach(function(ar){ %>
                                                <option value="<%= ar.account_number %>">
                                                    <%= ar.account_number %>
                                                </option>
                                                <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-4">
                                    <div class="w-full px-3">
                                        <h3>
                                            <%= eg[0].credit_points %> <br>
                                                <% if(eg[0].credit_points> 80){ %>
                                                    Loan applicable
                                                    <% } else{ %>
                                                        Loan not applicable
                                                        <% } %>
                                        </h3>
                                    </div>
                                </div>
                                <form action="/home/fundtransfer/recent/getdata" method="post">
                                    <div class="flex flex-wrap -mx-3 mb-4">
                                        <div class="w-full px-3">
                                            <% for(var i=0;(i<articles.length) && (i<5); i++){ %>
                                                <p >
                                                    <%= articles[i].transaction_id %> - <%= articles[i].account_to_account_number %> - <%= articles[i].transaction_status %> - <%= articles[i].transaction_amount %>
                                                    <button class="btn text-white bg-blue-600 hover:bg-blue-700 w-1/6" type="submit" value="<%= articles[i].transaction_id %>" name="pay">Pay</button>
                                                </p>
                                                <br>
                                            <% } %>
                                        </div>
                                    </div>
                                </form>
                        </div>

                    </div>
                </div>
            </section>

        </main>

    </div>
</body>

</html>